.texto{
         border: 5px solid rgb(173, 107, 240);
          text-align: center;
         max-width: 30% ;
         border-radius: 10px;
         background-color: rgb(8, 1, 8);;
}

p{
          color: aliceblue;
}
.texto h2{
          color: aliceblue;
          border-bottom: 1px rgb(89, 22, 214) solid;
          margin:30px 50px;
}